<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Contact</h2>

      <a href="/contact/add" class="btn btn-primary my-3 p-1"
        >Tambah Data Contact</a
      >
      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <% if (contact.length === 0) { %>
          <tr>
            <td colspan="4">
              <div class="alert alert-danger fw-bold" role="alert">
                Data contact kosong.
              </div>
            </td>
          </tr>
          <% } %> <% contact.forEach((element, index )=> { index++ %>
          <tr>
            <th scope="row"><%= index++ %></th>
            <td><%= element.Nama %></td>
            <td><%= element.NoHP %></td>
            <td>
              <a
                href="/contact/<%= element.Nama %>"
                class="btn btn-success badge badge-success"
              >
                <i class="bi bi-info-circle"></i> detail</a
              >
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
